@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  margin: 0;
}

.topnav {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.topnav .navbar-left,
.topnav .navbar-right {
  display: flex;
  align-items: center;
}

.topnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.topnav ul li {
  display: inline-block;
}

.topnav ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav .navbar-right ul li:hover {
  background-color: #dddfdd;
}

.topnav ul li.dropdown {
  float: left;
  overflow: hidden;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav ul li.dropdown:hover .dropdown-content {
  display: block;
}

.topnav ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.topnav ul .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav ul .dropdown-content a:hover {
  background-color: #7c7c7c;
  color: white;
}

.navbar-left {
  margin-left: 20px;
  font-weight: bold;
}

.navbar-right {
  margin-right: 20px;
}


.slider {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.text span {
  background-color: rgba(0, 0, 0, 0.6); 
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  bottom: 1px;
}

.dot:nth-child(1) {
  left: 50%;
  transform: translateX(-50%);
}

.dot:nth-child(2) {
  left: 50%;
  transform: translateX(50%);
}

.active,
.dot:hover {
  background-color: #bbb;
}

.value-content {
  text-align: center;
  margin-top: 50px;
  padding: 30px 0;
}

.our-values {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 0;
}

.value-box {
  width: 300px;
  padding: 20px;
  background-color: #818181;
  border-radius: 5px;
  text-align: center;
}

.value-box:nth-child(1) {
  background-color: rgb(211, 154, 143);
}

.value-box:nth-child(2) {
  background-color: rgb(126, 190, 126);
}

.value-box:nth-child(3) {
  background-color: rgb(135, 183, 228);
}


.icon {
  width: 24px; 
  height: 27px; 
}


.form-container {
  margin: 100px auto;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
}

.form-container h2 {
  margin-top: 0;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #3d8ce7;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #166ac9;
}
